body {
    font-family: Arial;
    background-color: white;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #5c6bc0;
}

.content {
    text-align:center;
}

img {
    size: 200px;
}