body {
    font-family: Arial;
    background-color: white;
    text-align: center;
}

a {
    color: white;
}

.header {
    width: 100%;
    background-color: #5c6bc0;
}

.nav {
    width: 100%;
    background-color: #26418f;
}

.musehub {
    width: 400px;
}
